<div class="row">
	<div class="col-md-8 col-md-offset-2">

<h2>Log in</h2>

     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address"%>

    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>

      <div class="row">
        <div class="col-md-1">
             <%= f.check_box :remember_me %>
      </div>
         <%= f.label :remember_me %> &nbsp;&nbsp;&nbsp;
         <%= link_to "Forgot your password?", new_password_path(resource_name) %>
     </div>
         <%= f.submit "Log in", class: "btn btn-primary" %>
     <% end %>
      <br />
 
       New User? 
     <%= link_to "Sign up now..!", new_user_registration_path %>
  </div>
</div>
